html,
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: #FDE8F7 !important;
}
.homePage{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
}
#nav-bar{
  background-color: #FDE8F7 !important;
}
#navlinks a{
  font-size: 18px;
}

#navlinks .nav-link{
  padding: 2px  20px;
  border-radius: 15px;
}

#navlinks .nav-link.active{
  color: white;
  background-color: rgba(0, 0, 0, 0.986);
}

.myPage{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.fullPage{
  width: 100%;
  height: 100vh;
}

.cardPage{
  width:90%;
  height: 90vh;
  background-color: white;
  border-radius: 10px;
  margin-top: 60px;
}

#myname h1{
  color:black;
  font-size: 10vw;
  font-weight: 100;
}