html,
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}
#nav-bar{
  background-color: #fde8f700 !important;
}
#navlinks a{
  font-size: 18px;
}

#navlinks .nav-link{
  padding: 2px  20px;
  border-radius: 15px;
}

#navlinks .nav-link.active{
  color: white;
  background-color: rgba(0, 0, 0, 0.986);
}
.mypage{
  width: 100%;
  height: 100vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainColor{
  background-color: #FDE8F7;
}
.alternateColor{
  background-color: white;
}

#myname h1{
  color:black;
  font-size: 10vw;
  font-weight: 100;
}