@import url('clash-display.css');
@import url('satoshi.css');
@import url('zodiak.css');
html,
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: #FDE8F7 !important;
  font-family: 'Satoshi-Regular', sans-serif !important;
}

h2{
  font-family: 'Zodiak-Bold', sans-serif;
}
#nav-bar{
  background-color: #FDE8F7 !important;
}
#navlinks a{
  font-size: 18px;
}
#navlinks a:hover{
  font-weight: bolder;
}


#navlinks .nav-link{
  padding: 2px  20px;
  border-radius: 15px;
}

#navlinks .nav-link.active{
  color: #FDE8F7;
  background-color: rgba(0, 0, 0, 0.986);
}


.alternate-page{
  background-color: #FFFFFF;
}