#projects{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: left;
  align-items: left;
  padding: 10px 0px;
}
#projects a{
  cursor:pointer;
  height: 100px;
  overflow: hidden;
  text-decoration: none;
  transition: all 1s ease-in-out;
  color:black;
  padding: 1em;
}
#projects a:hover,a:focus{
    /** i was stumped about why the transition was so abrupt at first 
  and apparently its beacause i set height tyo 100%. Only an actual
  value like 100px or 50vh with work for the smooth transition **/
  height: 50vh;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

.oddproject{
  border: 1px solid #FDE8F7;
  background-color: #FDE8F7;
}

.evenproject{
  border: 1px solid #FFFFFF;;
  background-color: #FFFFFF;

}
@media screen and (max-width: 800px){

  }