#projects{
  width:100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  justify-content: left;
  align-items: left;
  padding:0px;
  border-bottom: 1px solid black;
}
#projects a{
  cursor:pointer;
  height: 14vh;
  overflow: hidden;
  text-decoration: none;
  transition: all 1s ease-in-out;
  color:black;
  border-top: 1px solid black;
  border-left: 1px solid black;
  margin-bottom: 2px;
  margin-top: 0px;
  padding: 0;
}
#projects a:hover{
      /** i was stumped about why the transition was so abrupt at first 
  and apparently its beacause i set height tyo 100%. Only an actual
  value like 100px or 50vh with work for the smooth transition **/
  height: 60vh;
  overflow-y: scroll;
}
#projects a:focus{
height: 100vh;
overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}

#projects p{
  padding-left: 1em;
  padding-right: 1em;
}

.oddproject{
  background-color: #FDE8F7;
}

.oddproject .projectHeading{
  background-color: #FDE8F7;
}

.evenproject .projectHeading{
  background-color: #FFFFFF;
}

.evenproject{
  background-color: #FFFFFF;
}

.projectHeading{
  position: sticky;
  top: .2px;
  padding: 1em;
  
}
@media screen and (max-width: 800px){

  }